{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="text-center">About Us</h1>
      <hr>
      <p class="text-center lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <p class="text-center lead"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h3 class="text-center">Our Services</h3>
      <hr>
      <p class="lead">Duis aute irure dolor in reprehenderit in voluptat:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Sit voluptatem accusantium</li>
        <li class="list-group-item">Ut enim ad minima veniam</li>
        <li class="list-group-item">Mobile App Development</li>
        <li class="list-group-item"> Quis autem vel eum iure reprehenderit</li>
        <li class="list-group-item">At vero eos et accusamus</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">Our Team</h3>
      <hr>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/random/150x150/?men" class="img-fluid rounded-start" alt="John Doe">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <p class="card-text">Booker</p>
              <p class="card-text"><small class="text-muted">john.doe@example.com</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/random/150x150/?girl" class="img-fluid rounded-start" alt="Jane Doe">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Jane Doe</h5>
              <p class="card-text">Garagiste</p>
              <p class="card-text"><small class="text-muted">jane.doe@example.com</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/random/150x150/?homme" class="img-fluid rounded-start" alt="Joe Doe">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Joe Doe</h5>
              <p class="card-text">Pianiste</p>
              <p class="card-text"><small class="text-muted">joe.doe@example.com</small></p>
                          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

